body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.mainpage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
    text-align: center;
    gap: 25px;
    padding: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 40%;
    word-wrap: normal;
}

body.light-mode .mainpage {
    background-color: #f9f9f9;
    color: #333;
}
body.light-mode .card {
    background-color: #ffffff;
    color: #333;
}

body.dark-mode .mainpage {
    background-color: #121212;
    color: #f9f9f9;
}

body.dark-mode .card {
    background-color: #1e1e1e;
    color: #f9f9f9;
}

.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.form input:focus {
    border-color: #007bff;
    outline: none;
}

.form button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form button:hover {
    background-color: #0056b3;
}
.formcontainer{
    background-color: #484848;
    border-radius: 16px;
    padding: 25px;
}

.card h2 {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 500;
    color: #007bff;
    text-align: left;
}
.form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    appearance: none;
    cursor: pointer;
}

.form select:focus {
    border-color: #007bff;
    outline: none;
    background-color: #f0f8ff;
}

.form select::-ms-expand {
    display: none;
}

.form select::after {
    content: '▼';
    position: absolute;
    right: 10px;
    pointer-events: none;
}
.form input:hover {
    border-color: #0056b3;
}

.card {
    animation: fadeIn 0.5s ease-in-out;
}

.analysiscard {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 40%;
    word-wrap: normal;
}

body.light-mode .analysiscard {
    background-color: #ffffff;
    color: #333;
}
body.dark-mode .analysiscard {
    background-color: #1e1e1e;
    color: #f9f9f9;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

